@import url('https://fonts.googleapis.com/css2?family=Martel:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

@import url('./global.css');

/* colors: */
:root {
    --violet:#846b8a; 
    --purple: #494b7e;
    --almond:#e0d2c3;
    --coral:#ef6461;
    --teal:#005c69;
    --sky:#6bacba;
    --brown:#551b14;
}

/* * + * { */
/*     margin-top: 0rem; */
/*     /\* text-indent: 2em; *\/ */
/* } */

h1 {
  /* margin: 1rem 0; */
  font-size: 1rem;
  /* font-weight: ; */
  /* font-family: 'Cormorant Garamond', serif; */
  /* color: var(--brown); */

    /* font-family: 'poiret one', serif; */
}

h2 {
  margin: 1rem 0;

  /* font-weight: 300; */
  font-size: 1rem;
  /* font-family: 'Cormorant Garamond', serif; */
    /* font-family: 'poiret one', serif; */
}


/* container for header img & nav bar */
.container {
  position: relative;
}

/* .center { */
/* } */

/* nav styles */

.hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: #987E89
}
.nav-links {
    text-align: center;
  width: 100%;
  /* top: 5rem; */
  /* left: 48px; */
  background-color: #987E89;
  display: none;
  margin: 0;
}

.nav-links a {
    
  display: inline-block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--brown);
  /* text-transform: uppercase; */
}

.nav-links a:hover,
.nav-links a:focus {
  /* background-color: #987E89; */
}

.expanded {
  display: unset;
}

ul {
    list-style: none;
    padding: 0px;
}

ul li:before {
    content: '\2197';
    margin: 0 1em;    /* any design */
}
img {
    display: none;
}

@media screen and (min-width: 636px) {

    img {
	display: block;
	opacity: 0.5;
	filter: grayscale(50%);
	filter: brightness(5%);
	width: auto;
	min-width: 100%;
	height: auto;
    }

  .nav-links {
    /* margin-left: 5em; */
    display: block;
    position: static;
    width: auto;
    background: none;

    position: absolute;
    top: 6.8em;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
        overflow: hidden;
    white-space: nowrap;
    
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }
  .hamburger {
    display: none;
  }

}
