@import url('https://fonts.googleapis.com/css2?family=Martel:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

/* colors: */
:root {
    --violet:#846b8a; 
    --purple: #494b7e;
    --almond:#e0d2c3;
    --coral:#ef6461;
    --teal:#005c69;
    --sky:#6bacba;
    --brown:#551b14;
    --slate:#2b2b30;
    --charcoal:#333842;
}


html {
    /* background-color: #f4f3f2; */
    background-color: #fff;
    transition: background-color .5s;
    /* font-family: sans-serif; */
}

html.dark {
    /* background-color: #333; */
    background-color:  var(--slate);
    transition: background-color .5s;
    /* background-color: var(--charcoal); */

    color: #ddd;
}


body {
    margin-top: 1rem;
    /* margin: 0 auto; */
    width: 100%;
    max-width: 80ch;
    padding: 1rem;
    line-height: 1.5;
    font-family: 'Martel', serif;
    /* display: flex; */
    justify-content: center;
    align-items: center;
}

* {
    box-sizing: border-box;
}

h1 {
    margin: 1rem 0;
    font-size: 2rem;
    font-weight: 500;
    font-family: 'Cormorant Garamond', serif;
    color: var(--brown);

    /* font-family: 'poiret one', serif; */
}
.dark h1 {
    color: var(--almond);
}

h2 {
    margin: 1rem 0;

    font-weight: 300;
    font-size: 27px;
    font-family: 'Cormorant Garamond', serif;
    color: var(--brown);
    /* font-family: 'poiret one', serif; */

}

.dark h2 {
    color: var(--almond);
}


/* nav styles */

.hamburger {

    position: relative;
    margin-left: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
    z-index: 1;

}
.hamburger .line {
    display: block;
    width: 20px;
    height: 2px;
    margin-bottom: 4px;
    background-color: var(--brown);
}
.dark .hamburger .line {
    background-color: var(--almond);
    
}

.nav-bar{
    /* box-sizing: border-box; */
    /* padding-top: 0px; */
    padding-left: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 1rem;
    margin-bottom: 1rem;
    /* max-height: 20gpx; */
    /* margin-top: -15px; */
    background-color: rgba(256, 256, 256, .9);
    
    width: 100%;

    /* border-bottom-style: dashed; */
    /* border-bottom: 3px var(--brown); */
    border-bottom: 1px solid var(--brown);
    z-index: 1;
}
.dark .nav-bar {
    background-color: rgba(43, 43, 48, .9);

    border-bottom: 1px solid var(--almond);
}

.nav-links {
    text-align: center;
    display: block;
    max-height: 0;
    overflow: hidden;
    transition: max-height .4s ease-in-out;
}

.expanded {
    max-height: 175px; /* Adjust this value based on your menu's full height */
    transition: max-height .4s ease-in-out;
}



.nav-links a {
    
    display: block;
    text-align: left;
    /* padding: 5px 5px; */
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--brown);
}

.dark .nav-links a {
    color: var(--almond);
    /* background: none; */
}

.nav-links a:hover,
.nav-links a:focus {
    /* background-color: #987E89; */
}


.nav-rule {
    /* margin-top: 5px; */
    margin-bottom: 0px;
}




/* lists */
ol {
    display: block;
    margin-left: -10px;
}
ul {
    display: block;
    list-style: bullet;
    /* padding: 0px; */
    margin-left: -10px;

}

ul li {
    display: block;
    position: relative;
}

ol li {
    left: -20px;
}

ul li:before {

    content: "";
    position: absolute;
    top: 1.2em;
    left: -20px;
    margin-top: -.7em;
    background: var(--brown);
    stroke: #111;
    height: 6px;
    width: 6px;
    border-radius: 50%; 
}

.dark ul li:before {
    background: var(--almond);
}
ul li:not(:last-child) {
    margin-bottom: 4px;
}

img.spec {
    display: none;
}

#themeToggle {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--brown);
}

/* When display is big:*/
@media screen and (min-width: 636px) {
    .nav-rule {
	display: none;
    }

    .nav-bar{
	display: block;
	position: static;
	top: 0;
	left: 0;
	z-index: 0;
	padding-left: unset;
	padding-top: 0px;
	margin-bottom: unset;
	margin-top: 0px;

	border-bottom: unset;
	background: none;
	background-color: unset;

	/* border-bottom-style: none; */
	/* transform: translate(-50%, -50%); */

    }
    .dark .nav-bar {
	border-bottom: unset;
	background-color: unset;

    }

    img.spec {
	display: block;
	opacity: 0.5;
	filter: grayscale(50%);
	filter: brightness(5%);
	width: auto;
	min-width: 100%;
	height: auto;
	z-index: -1;
    }
    .dark img.spec {
	filter: invert(100%);  /* Completely inverted */
	transition: filter .5s;
    }


    .nav-links {
	display: block;
	position: absolute;	/* otherwise nav-links moves image down!*/
	overflow: hidden;

	top: 7.5rem;
	left: 50%;
	
	/* width: auto; */
	background: none;

	transform: translate(-50%, -50%);
	font-size: 18px;
	overflow: hidden;
	white-space: nowrap;
	max-height: 1000px;
	z-index: 2;
	
    }

    .nav-links a {
	display: inline-block;
	padding: 15px 20px;
	background: none;
	z-index: 1;
	font-size: 1.3rem;

	/* pointer-events: none; */
    }
    .hamburger {
	display: none;
    }
}

#themeToggle {
    /* display: inline-block; */
    /* position: relative; */
    /* background: none; */
    /* border: none; */
    /* padding: 0; */
    /* cursor: pointer; */
    /* color: var(--brown); */
    /* /\* display: block; *\/ */

    /* /\* transform: scale(89%); *\/ */
    /* z-index: 100; */
    /* white-space: nowrap; */

}

#themeToggle svg {
    transform: translate(5%, 25%);
    z-index: 2;
}

.sun, .moon {
    fill: none;
    /* display: none; */
    /* stroke: currentColor; */
    stroke-width: 1;
    stroke-linecap: round;
    stroke-linejoin: round;
}
.moon {
    display: block;
    stroke: var(--brown);
}

.dark .sun {
    stroke: var(--almond);
    /* fill: var(--almond); */
    display: block;
}

.dark .moon {
    display: none;
}

/* links: */

a {
    color: var(--teal);
}
.dark a {
    color: var(--sky);
    /* color: var(--coral); */
}

a:link {
    /* text-decoration: none; */
    text-decoration: underline 0.02em rgba(0, 0, 0, 0);
    /* transition: text-decoration-color 300ms; */
    text-underline-offset: 0.1em;
    transition: text-decoration-color 300ms, text-underline-offset 300ms;
}
.dark a:link {
    text-decoration: underline 0.02em rgba(256, 256, 256, 0);
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    text-underline-offset: 0.2em;

    text-decoration-color: rgba(0, 0, 0, 1);

    /* box-shadow: inset 0 0 0 0 #777; */
}
.dark a:hover {
    text-decoration-color: rgba(256, 256, 256, 1);
    
}

a:active {
    text-decoration: underline;
}

/* image and bio for home page */

/* Style for the main content */
.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Bio section */

header {
    text-align: center;
    margin-bottom: 2rem;
}
.bio {
    flex: 2.5;
    padding-right: 20px;
}

.photo {
    flex: 1;
    text-align: center;
}

/* Style for the image */
.portrait {
    display: block;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    border-radius: 3pt;

    filter: drop-shadow(5px,5px);
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 70px 290px 0px; */
}

/* table etc */
table, th, td {
    border: 1px solid #eeeeee;
    border-collapse: collapse;
    padding: 10px;
    /* width: 100%; */
}
table {
    width: 100%;
    margin-top: 2em;

}
.dark table,th,td {
    border: 1px solid #ddd;
    /* border-collapse: collapse; */
    /* padding: 10px; */
    /* width: 100%; */
    
}

p.study-grp-desc {
    /* color: var(--brown); */
}
