---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "About page"
---
<!---
Should contain:
- picture
- bio
--> 


<BaseLayout pageTitle={pageTitle}>
<h2>This is a site! </h2>
<p> And this is a paragraph. Now this is something, isn't it? </p>
</BaseLayout>

