---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Håvard Damm-Johnsen";
import * as bio from './bio.md'
---
<!--
TODO: Include:
- [ ] photo
- [ ] bio
- [ ] Fix link css style
- [ ] center stuff?
- [ ] last updated date
-->
<BaseLayout pageTitle={pageTitle}>
  <!-- <h2></h2> -->
  <Fragment set:html={bio.compiledContent()}/>
</BaseLayout>
