---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Projects"
---
<!---
Should contain:
- picture
- bio
--> 

<BaseLayout pageTitle={pageTitle}>
<h2> Under construction </h2>
</BaseLayout>

