---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Work page"
---
<!---
Should contain:
- convenient way to update papers from a markdown file
- short summaries?
--> 

<BaseLayout pageTitle={pageTitle}>
<h2>Publications & preprints </h2>
<p> And this is a paragraph. Now this is something, isn't it? </p>
</BaseLayout>

