---
import BaseLayout from '../layouts/BaseLayout.astro';
import Papers from '../components/Papers.astro';
const pageTitle = "Work page"
import * as papers from '../pages/papers.md'
import * as projects from  '../pages/projects.md'
---
<!---
Should contain:
- convenient way to update papers from a markdown file
- short summaries?

TODO: include "old notes" maybe?
--> 

<BaseLayout >
  <h2>Publications & preprints </h2>


  <Fragment set:html={papers.compiledContent()}/>


  <h2> Code & other projects</h2>
  <Fragment set:html={projects.compiledContent()}/>

</BaseLayout>

