---
import Navigation from '../components/Navigation.astro';
import Hamburger from "../components/Hamburger.astro";

---
<header>
<div class="container">
<img src="../../src/resources/x7+41.svg" width="100%">
<nav>
</div>
<Hamburger/>
<Navigation/>
</nav>
</header>