---
import Navigation from '../components/Navigation.astro';
import Hamburger from "./Hamburger.astro";

import { Image } from 'astro:assets';
import spec from '../../src/resources/x7+41.svg';
---
<header>

  <div class="nav-bar">
    <Hamburger/>
    <Navigation/>
    <Image src={spec}
      alt="Spectrum of ring of integers of x^7 + 41"
      title="Spectrum of ring of integers of x^7 + 41"
      width="100%"
      class="spec">
    

  <!-- </div> -->

  <!-- <div class="nav-bar"> -->
  <!--   <Hamburger/> -->
  <!--   <Navigation/> -->
  <!--   <\!-- <hr class="nav-rule"> -\-> -->
  </div>

</header>
