---
import ThemeIcon from './ThemeIcon.astro';

---
<div class="nav-links">
  <a href="/">Home</a>
  <a href="/work/">Research</a>
  <a href="/teaching/">Teaching</a>
  <a>
    <ThemeIcon/>
  </a>
</div>
