---
import BaseLayout from '../layouts/BaseLayout.astro';
const { frontmatter, headings } = Astro.props;

import dayjs from "dayjs";
import utc from "dayjs/plugin/utc";

dayjs.extend(utc);

const lastModified = dayjs()
  .utc(Astro.props.frontmatter.lastModified)
  .format("DD MMMM YYYY");
//TODO: include dynamic list of study groups, table of contents?
---

<BaseLayout pageTitle={frontmatter.title}>
  </p>
  <!-- <hr/> -->
  <slot />
  <hr/>
  
  <p style="text-align:right"> <em> Last updated: {lastModified}</em></p>

</BaseLayout>
