---
import BaseLayout from '../layouts/BaseLayout.astro';
const { frontmatter, headings } = Astro.props;

// TODO: include dynamic list of study groups, table of contents?
---
<BaseLayout pageTitle={frontmatter.title}>
<p>Written by {frontmatter.author}</p>
<p>Published on: {frontmatter.pubDate.toString().slice(0,10)}</p>
<hr/>
<slot />
</BaseLayout>